<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.dp.sq.btflasher">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.DevicesListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activities.FavoritesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.userCabinet.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.userCabinet.DashBoard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.userCabinet.ForgotPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.userCabinet.SignUp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SendToHCModule"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/AppTheme.TranslucentNavigation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>